.line {
  display: flex;
}

.box {
  border: 1px solid turquoise;
  height: 32px;
  width: 32px;
  display: inline-block;
}

.apple {
  background-color: red;
  height: 32px;
  width: 32px;
}

.player {
  background-color: blue;
  height: 32px;
  width: 32px;
}
